.dark-mode-accordion {
    background-color: #526484;
    border-radius: 5px;
    margin: 1em 0;
    border-radius: 3px;
}

.light-mode-accordion {
    background-color: #fff;
    border-radius: 5px;
    margin: 1em 0;
    border-radius: 3px;
}