@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


* {
    font-family: "Nunito", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.cardbody {
    height: 400px;
    width: 200px;
    min-width: 300px;
    margin: 1em;
    padding: .5em 0;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, .1);
    border: transparent solid 1px;
    border-radius: 7px;
    transition: .2s ease;
}

.cardbody:hover {
    border: #39A900 solid 1px;
}

.cardBodyLight {

}

.cardBodyDark {
    background-color: #1F2937;
}

.cardBodyDark:has(p, h6) {
    color: #fff
}

.cardBody:hover {
    border: #39A900 solid .5px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, .1);
}

.minihead {
    width: 100%;
    text-align: end;
    padding: 0 1em;
}

.minihead:first-child i {
    font-size: 1rem;
    color: #fff;
    background-color: #39A900;
    border: 1px solid #fff;
    padding: .3em;
    transition: .1s ease;
    border-radius: 50px;
}

.minihead i:hover {

    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.imgContent {
    height: 60%;
    width: 100%;
}

.imgContent img {
    border-radius: 5px 5px 0 0;
    width: 95% !important;
    margin: auto;
    cursor: pointer;
}


.infoContent {
    padding: 0 1em;
    height: 40%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContent div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
}

.product-container-light,
.product-container-dark {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.product-container-light img,
.product-container-dark img {
    width: 97%;
    height: 220px;
    object-fit: cover;
}

.footerInfo {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerInfo h6 {
    font-size: 16px;
    color: #39A900;
    font-weight: bold;
    text-align: start;
    width: 100%;
}

.footerInfo span {
    font-size: 13px;
}

.infoContent p {
    height: 60px;
    font-size: 14px;
    font-weight: 400;
}

.footerInfo i {
    font-size: 24px;
    color: #39A900;
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footerInfo div {
    display: flex;
    flex-direction: column !important;

}

.headInfo-dark {
    font-size: 16px;
    color: #fff;
}

.headInfo-light{
    font-size: 16px;
    color: #526484;
}

.headInfo:last-child {
    color: #39A900;
    font-size: 16px;
}