.asideCard {
    width: 20%;
    height: 90vh;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: .8em;
    left: .6em;
    min-width: 220px;
}

.asideCard input[type="checkbox"] {
    margin-right: 1em;
}

.input-text-check {
    width: 40%;
    margin-left: .8em;
}

i {
    width: 30px !important;
    height: 30px !important;
}

ul {
    margin-left: .8em !important;
}

.box-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
}

.box-inputs input {
    border: #000 solid .5px;
    padding: .4em;
    max-width: 40% !important;
    outline: none;
    border-radius: 5px;
}

.asideCard:has(p, h4, input, label, span, li) {
    color: #000;
    font-size: 14px;
    transition: .1s ease;
}

.asideCardDark:has(p, h4, input, label, span, li) {
    color: #fff;
    font-size: 14px;
    transition: .1s ease;
}

h4 {
    margin: .8em 0 !important;
}

.asideCard li p {
    display: inline;
}

.asideCard li p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.busquedaAside {
    padding: .5em 1em;
    border-radius: 2.5px;
    width: 100%;
    outline: none;
    border: 1px solid #000;
}

.asideCardDark .busquedaAside {
    border: 1px solid #fff;
}

.cardTitles {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.btnSearchDark:active {
    outline: none;
}

.dateField {
    display: flex;
    flex-direction: row;
}