.contenidoTienda {
    width: 70% !important;
    height: 90vh;
    text-align: center;
}

main {
    /* background-color: rgb(237, 237, 237); */
}

.tituloSalaCompra {
    font-size: 1.5rem;
    font-weight: bold;
}

.subtituloSalaCompra {
    font-size: 1rem;
}