.contenidoTienda {
    width: 100% !important;
    height: 90vh;
    text-align: center;
}

main {
    /* background-color: rgb(237, 237, 237); */
}

.titulo-sala-compra-dark, .titulo-sala-compra-light {
    font-size: 1.5rem;
    font-weight: bold;
}

.sub-titulo-sala-compra-dark, .sub-titulo-sala-compra-light {
    font-size: 1rem;
}

.sub-titulo-sala-compra-dark, .titulo-sala-compra-dark {
    color: #fff;
}