.acordionContainer {
    padding: 3em 7em;
}

.headAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.headAbout p {
    font-size: 1rem;
    width: 50%;
    height: 300px;
    text-align: justify;
}

.headAbout img {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    object-fit: cover;
}
.headAboutDark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.headAboutDark p {
    color: #fff;
    font-size: 1rem;
    width: 50%;
    height: 300px;
    text-align: justify;
}

.headAboutDark img {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.contenedorabout {
    width: 90% !important;
    margin: auto;
}