.cardbody2 {
    height: 35vh;
    width: 45%;
    min-width: 550px;
    background-color: #fff;
    margin: 1em auto;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, .1);
    border-radius: 7px;
    transition: all .5s ease-in;
    display: flex;
    flex-direction: column;
}

.cardbody:hover {
    outline: #39A900 solid 1px;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, .2); 
}

.cardBodyLight {
    margin: 1em !important;
}

.img-emp {
    width: 250px !important;
    height: 250px !important;
    max-height: 250px !important;
    min-height: 250px !important;
    border: #39A900 .5px solid;
    border-radius: 50%;
}

@media  (max-width: 1350px) {
    .img-emp {
        width: 150px !important;
        height: 150px !important;
        max-height: 150px !important;
        min-height: 150px !important;
    }
    
}