/* .sectionCatePage{
    display: flex;
    flex-direction: column;
}

.mainTienda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.sectionCatePage {
    display: flex;
    flex-direction: column;
}

.mainTienda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 1000px;
    flex: 1;
}

#footer {
    margin-top: auto;
}
